.dockerignore
Dockerfile

# Ignore Python cache files
__pycache__/
*.py[co]

# Ignore virtual environments
.venv/
venv/
env/
ENV/

# Ignore test and coverage files
tests/
.coverage
*.cover
*.py,cover
coverage.xml
nosetests.xml
test-reports/

# Ignore local configuration files
*.env
*.local
*.log

# Ignore build artifacts
build/
dist/
wheels/
*.egg-info
.eggs/

# Ignore IDE/editor specific files
.vscode/
.idea/
*.swp

# Ignore node_modules
node_modules/

# Ignore Terraform files
.terraform/
*.tfstate
*.tfstate.backup

# Ignore Infracost files
.infracost
infracost.yml

# Ignore other unnecessary files
.DS_Store
*.webm