BOT_API_KEY=""
MEETINGBOT_END_POINT="http://localhost:3001" # Replace with the endpoint of your meeting bot application on AWS
NEXT_PUBLIC_CALLBACK_URL="https://localhost:3002/api/callback" # Replace with the endpoint of your callback URL in your appliation -- we are assuming that this example app runs on 3002 locally.
OPENAI_API_KEY="" # Your OpenAI API key for transcription and summarization